doctype html
include includes/head.pug
body(data-theme="dark")
  section.cv-content
    section#main-section.single-column
      section.section-heading
        img(src='./img/profile.png')
        h1 Guido La Rosa
        h2
          | Frontend Developer 
          br
          |  UI / UX Developer
      section.bio
        p.
          Hi! Mi name is Guido, and I&rsquo;m a frontend developer from Buenos Aires, Argentina.
        p.
          I've fallen in love with code nearly seven years ago, although I&rsquo;ve always had a profound interest in the arts, technology and science. When I started my learning path, I decided that the field of frontend development was the one I should dive into, because of my deep interest in design and the visual arts, and because I became aware of the many uses and applications of these technologies and how they impact in people&rsquo;s lives.
        a(href='#') Read my full cover letter
        //
          <p>
          I consider myself to be a true team player. From the feedback I received in my previous jobs I feel like I can bring a lot to the table, both in terms of technical expertise and also in the area of soft skills. I was frequently told that I have great communication skills, and I’m very helpful and empathetic with others. I’m always willing to take the time and put the effort to bring the work we are delivering to the next level. Also, I’m very calm and approachable, which I believe are good qualities when working inside a team.
          </p>
          <p>
          I believe my background in arts and design is what makes me stand out. Not only can I deliver high quality code using the latest tools, but I can also engage in a meaningful discussion about the visual design of the system, UX strategies and interaction design of the project we are working on.
          </p>
          <p>
          On the more technical side, I consider myself right now to be mainly a React developer. I love the JS ecosystem and I’m always looking for new tools and libraries to bring more value to the work I do. Also I’m starting to learn tools related with 3D visualization and creative coding.
          </p>
          <p>
          Hope we can work together and build something great!
          </p>
      section.links
        a(href='https://www.linkedin.com/in/guido-la-rosa/') LinkedIn
        |         /
        a(href='https://github.com/guidolarosa') Github
        |         /
        a(href='https://coyoteweb.studio/' aria-disabled='true') Coyote Web Studio
        |         /
        a Instagram
        |         /
        a(href='https://guidolarosa-blog.tumblr.com/') Illustrations
      #change-theme
        | Change Theme
    section#work-history.double-column
      section.section-title
        h2 Work History
      section.section-body
        each val in workData
          section.work-item
            h3=val.company
            h4=val.title
            .period=val.period
            each paragraph in val.detail
              p=paragraph
    section#education.single-column
      section.section-title
        h2 Education
      section
        p
          | After finishing school I had a deep interest in sound and music, so I studied one year of Sound Design.
        p
          | After that I got accepted in ENERC, which is the National Cinema School. I learned a lot about the industry and Sound Design for Cinema, which was my specialization, but found out that I was not very interested in this kind of career.
        p
          | Around that time I started to learn to code. A friend introduced me to Frontend Development and I started an intense self-learning path diving deep into web technologies. I learned about the basics (HTML, CSS, JS) and then I started working on some real world projects, which taught me a lot in a short period of time.
    section#skills.single-column
      section.section-title
        h2 Skills
      section.section-body
        section.technical-skills
          .skill
            h4 React
            .skill-bar(value='80')
              .skill-level
          .skill
            h4 NextJS
            .skill-bar(value='80')
              .skill-level
          .skill
            h4 JavaScript
            .skill-bar(value='80')
              .skill-level
          .skill
            h4 Git / Github
            .skill-bar(value='80')
              .skill-level
          .skill
            h4 Wordpress
            .skill-bar(value='60')
              .skill-level
          .skill
            h4 Figma
            .skill-bar(value='70')
              .skill-level
          .skill
            h4 Photoshop / Illustrator
            .skill-bar(value='60')
              .skill-level
        section.languages
          .language
            h2 Spanish / Castellano
            p Native
          .language
            h2 English
            p Upper Intermediate (B2) Level
            p I can have a fluid conversation about technical topics.
script(src='./src/js/main.js' type='text/javascript')
