:root {
  --primary-dark: rgb(130, 119, 208);
  --background-dark: rgb(44, 43, 51);
  --font-dark: white;
}

body[data-theme='dark'] {
  background: black;
  color: var(--font-dark);
  a {
    color: var(--primary-dark);
  }
  .work-item h3 {
    color: var(--primary-dark);
  }
  .skill-bar {
    border: 1px solid var(--primary-dark);
    .skill-level {
      background: var(--primary-dark)
    }
  }
  #main-section {
    #change-theme {
      color: var(--primary-dark);
    }
  }
}

